@inject AppState App
@inject CronusClient Cronus
@inject ILogger<Projection> Log

@if (Projection is null == false)
{
    <div class="card" style="background-color:#27272fff">
        <div class="card-header">
            <div class="text-left col-lg-13" style="top:-35px">
                <br>

                @if (Projection.LatestVersion.Status == ProjectionStatus.Building || Projection.LatestVersion.Status == ProjectionStatus.Rebuilding || Projection.LatestVersion.Status == ProjectionStatus.Replaying)
                {
                    <ProjectionProgressBar Projection="@Projection"></ProjectionProgressBar>
                }
            </div>

            <div class="row">
                <div class="text-left col-lg-7">
                    <span>@Projection.ProjectionName</span>
                    <div>
                        <MudText style="font-size:small" Font-Size="Size.Small" Typo="Typo.body2" Color="Color.Primary"><cite>@Projection.ProjectionContractId</cite></MudText>
                    </div>

                    <div class="d-inline">
                        <ProjectionVersionBadge Projection="@Projection" Version="@Projection.LatestVersion" LiveVersion="@Projection.LiveVersion" AllVersions="@Projection.Versions"></ProjectionVersionBadge>
                    </div>
                </div>

                <div class="text-right col-lg-5">
                    @if (Projection.LatestVersion.Status != ProjectionStatus.Building && Projection.LatestVersion.Status != ProjectionStatus.Replaying && Projection.LiveVersion?.Hash != "ver")//api should return if the projection is repl
                    {
                        <MudIconButton Icon="@Icons.Filled.PlayArrow" Color="Color.Success" ToolTip="Replays the projection and creates a new version. You should use this when your projection contains events you do not want." OnClick="@(async () => await ReplayAsync(Projection))"></MudIconButton>
                    }
                    @if (Projection.LatestVersion.Status == ProjectionStatus.Building || Projection.LatestVersion.Status == ProjectionStatus.Replaying)
                    {
                        <span class="d-inline"><MudIconButton Icon="@Icons.Filled.Stop" Color="Color.Success" ToolTip="Cancel" OnClick="@(async () => await CancelAsync(Projection,Projection.LatestVersion))"></MudIconButton></span>
                    }

                    @if (Projection.IsReplayable && Projection.LatestVersion.Status != ProjectionStatus.Building)//API does not return if the projection is replayable
                    {
                        <MudIconButton Icon="@Icons.Filled.Loop" Color="Color.Success" ToolTip="Rebuilds the projection version. You should use this when there are missing events." OnClick="@(async () => await RebuildAsync(Projection))" Class="mr-2"></MudIconButton>
                    }

                    <a href="/projections/@Projection.ProjectionContractId"><MudIcon Icon="@Icons.Filled.Search"></MudIcon></a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Projection Projection { get; set; }

    [Parameter]
    public ProjectionVersion SelectedVersion { get; set; }

    public Task RebuildAsync(Projection projection)
    {
        return Cronus.RebuildProjectionAsync(App.Connection, Projection);
    }

    public Task ReplayAsync(Projection projection)
    {
        return Cronus.ReplayProjectionAsync(App.Connection, Projection);
    }

    public Task CancelAsync(Projection projection, ProjectionVersion version)
    {
        return Cronus.CancelSpecificProjectionAsync(App.Connection, Projection, version);
    }

    public Task FinalizeAsync(Projection projection, ProjectionVersion version)
    {
        return Cronus.FinalizeProjectionAsync(App.Connection, Projection, version);
    }

    protected override async Task OnInitializedAsync()
    {
        App.OnChange += StateHasChanged;

        App.HubConnection.On<string>("RebuildStarted", (projectionTypeId) =>
       {
           Log.LogInformation("RebuildStarted: " + projectionTypeId);

           if (Projection.ProjectionContractId.Equals(projectionTypeId, StringComparison.OrdinalIgnoreCase) == false)
               return;

           Projection.LatestVersion.Status = ProjectionStatus.Rebuilding;

           StateHasChanged();
       });

        App.HubConnection.On<string>("RebuildFinished", (projectionTypeId) =>
        {
            Log.LogInformation("RebuildFinished: " + projectionTypeId);

            if (Projection.ProjectionContractId.Equals(projectionTypeId, StringComparison.OrdinalIgnoreCase) == false)
                return;

            Projection.LatestVersion.Status = ProjectionStatus.Live;
            Projection.LatestVersion.Revision++;

            StateHasChanged();
        });
    }
}
