@inject AppState App
@inject CronusClient Cronus
@implements IAsyncDisposable
@inject ILogger<Projection> Log

@if (Projection is null == false)
{
    <div class="card" style="background-color:#27272fff">
        <div class="card-header">
            <div class="text-left col-lg-13" style="top:-35px">
                <br>

                @if (Projection.LatestVersion.Status == ProjectionStatus.Building || Projection.LatestVersion.Status == ProjectionStatus.Rebuilding || Projection.LatestVersion.Status == ProjectionStatus.Replaying)
                {
                    <div style="font-size:xx-small">@progressString</div>
                    <MudProgressLinear Progress="@progress"></MudProgressLinear>
                }
            </div>

            <div class="row">
                <div class="text-left col-lg-7">
                    <span>@Projection.ProjectionName</span>
                    <div>
                        <span style="font-size:small"><cite>@Projection.ProjectionContractId</cite></span>
                    </div>

                    <div class="d-inline">
                        <ProjectionVersionBadge Projection="@Projection" Version="@Projection.LatestVersion" LiveVersion="@Projection.LiveVersion" AllVersions="@Projection.Versions"></ProjectionVersionBadge>
                    </div>
                </div>

                <div class="text-right col-lg-5">
                    @if (Projection.LatestVersion.Status != ProjectionStatus.Building && Projection.LatestVersion.Status != ProjectionStatus.Replaying && Projection.LiveVersion.Hash != "ver")//api should return if the projection is repl
                    {
                        <MudIconButton Icon="@Icons.Filled.PlayArrow" Color="Color.Success" ToolTip="Replays the projection and creates a new version. You should use this when your projection contains events you do not want." OnClick="@(async () => await ReplayAsync(Projection))"></MudIconButton>
                    }
                    @if (Projection.LatestVersion.Status == ProjectionStatus.Building || Projection.LatestVersion.Status == ProjectionStatus.Replaying)
                    {
                        <span class="d-inline"><MudIconButton Icon="@Icons.Filled.Stop" Color="Color.Success" ToolTip="Cancel" OnClick="@(async () => await CancelAsync(Projection,Projection.LatestVersion))"></MudIconButton></span>
                    }

                    @if (Projection.IsReplayable && Projection.LatestVersion.Status != ProjectionStatus.Building)//API does not return if the projection is replayable
                    {
                        <MudIconButton Icon="@Icons.Filled.Loop" Color="Color.Success" ToolTip="Rebuilds the projection version. You should use this when there are missing events." OnClick="@(async () => await RebuildAsync(Projection))" Class="mr-2"></MudIconButton>
                    }

                    <a href="/projections/@Projection.ProjectionContractId"><MudIcon Icon="@Icons.Filled.Search"></MudIcon></a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Projection Projection { get; set; }

    [Parameter]
    public ProjectionVersion SelectedVersion { get; set; }

    HubConnection hubConnection;

    MudTheme RebuildProgressTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Red.Default,
            },
            PaletteDark = new Palette()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };

    double progress = 0;
    string progressString = "0 %";

    protected async override Task OnInitializedAsync()
    {
        App.OnChange += StateHasChanged;

        Log.LogInformation("Initializing signalR...");

        hubConnection = new HubConnectionBuilder()
        .WithUrl(App.Connection.CronusEndpoint + "/hub/projections")
        .WithAutomaticReconnect()
        .Build();

        hubConnection.On<string, long, long>("RebuildProgress", (projectionTypeId, processed, total) =>
       {
           if (Projection.ProjectionContractId.Equals(projectionTypeId, StringComparison.OrdinalIgnoreCase) == false)
               return;

           unchecked
           {
               double percentage = (processed * 100) / total;
               progressString = $"{percentage} % ( {processed} / {total} )";
               progress = (percentage / 100);
           }

           StateHasChanged();
       });

        hubConnection.On<string>("RebuildStarted", (projectionTypeId) =>
        {
            Log.LogInformation("RebuildStarted: " + projectionTypeId);

            if (Projection.ProjectionContractId.Equals(projectionTypeId, StringComparison.OrdinalIgnoreCase) == false)
                return;

            progressString = $"0 % ( {0} / -- )";
            progress = 0;

            Projection.LatestVersion.Status = ProjectionStatus.Building;

            StateHasChanged();
        });

        hubConnection.On<string>("RebuildFinished", (projectionTypeId) =>
        {
            Log.LogInformation("RebuildFinished: " + projectionTypeId);

            if (Projection.ProjectionContractId.Equals(projectionTypeId, StringComparison.OrdinalIgnoreCase) == false)
                return;

            progress = 1;

            Projection.LatestVersion.Status = ProjectionStatus.Live;

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public Task RebuildAsync(Projection projection)
    {
        return Cronus.RebuildProjectionAsync(App.Connection, Projection);
    }

    public Task ReplayAsync(Projection projection)
    {
        return Cronus.ReplayProjectionAsync(App.Connection, Projection);
    }

    public Task CancelAsync(Projection projection, ProjectionVersion version)
    {
        return Cronus.CancelSpecificProjectionAsync(App.Connection, Projection, version);

    }

    public async ValueTask DisposeAsync()
    {
        Log.LogInformation("Disposing signalR...");
        await hubConnection.DisposeAsync();

    }
}
