@page "/connection/{Name}"
@inherits ConnectionBase
@inject AppState App
@inject CronusClient Cronus

<h1>Edit Connection</h1>

<fieldset>

    <MudTextField @bind-Value="@Name" Label="Name" FullWidth="true" Required="true"></MudTextField>
    <MudTextField @bind-Value="@CronusEndpoint" Label="Cronus Endpoint" FullWidth="true" Required="true" Class="mb-3"></MudTextField>
    <MudButton Variant="Variant.Outlined" Color="Color.Success" EndIcon="@Icons.Filled.Check" OnClick="@GetTenants">Check</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Success" EndIcon="@Icons.Filled.Save" OnClick="@(async () => await EditConnection())" Class="mr-2">Update Connection</MudButton>
    @if (IsEndpointValid)
    {
        <span class="badge rounded-pill bg-success">Correct Endpoint</span>
    }
    else
    {
        <span class="badge rounded-pill bg-danger">Invalid Endpoint</span>
    }
</fieldset>
<hr class="solid">
<MudTable Items="@TenantAuths" class="mat-elevation-z5" PageSize="100" ShowPaging="false" UseSortHeaderRow="true">
    <HeaderContent>
        <MudTh>Tenant</MudTh>
        <MudTh>Authority Address</MudTh>
        <MudTh>Client</MudTh>
        <MudTh>Scope</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Tenant</MudTd>
        <MudTd>@context.ServerEndpoint</MudTd>
        <MudTd>@context.Client</MudTd>
        <MudTd>@context.Scope</MudTd>
        <MudTd>
            <MudButton Variant="Variant.Outlined" Color="Color.Success" EndIcon="@Icons.TwoTone.GetApp" OnClick="@(async () => await @GetToken(context))" Class="mr-2">Get Token</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Success" EndIcon="@Icons.Filled.Edit" Link="@($"/connection/{@Name}/{context.Tenant}")" Class="mr-2">Edit</MudButton>
            @if (AccessToken == string.Empty)
            {
                <span class="badge badge-light " style="display:none"></span>
            }
            else if (AccessToken != null)
            {
                <span class="badge rounded-pill bg-success">Correct Endpoint</span>
            }
            else
            {
                <span class="badge rounded-pill bg-danger">Invalid Endpoint</span>
            }
        </MudTd>

    </RowTemplate>
</MudTable>




