@page "/connection/new"
@inherits ConnectionBase

<h1>New Connection</h1>

<fieldset>
    <MatTextField @bind-Value="@Name" Label="Name" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@CronusEndpoint" Label="Cronus Endpoint" FullWidth="true" Required="true"></MatTextField>
    <MatButton Outlined="true" OnClick="@GetTenants">Check</MatButton>
</fieldset>

@*<MatButton Outlined="true" OnClick="@GetToken">Get Token</MatButton>*@
<MatButton Outlined="true" TrailingIcon="save" OnClick="@AddConnection">Add Connection</MatButton>
