@page "/connection/new"
@inherits ConnectionBase

<h1>New Connection</h1>

<fieldset>
    <MatTextField @bind-Value="@Name" Label="Name" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@CronusEndpoint" Label="Cronus Endpoint" FullWidth="true" Required="true"></MatTextField>
</fieldset>

<fieldset>
    <legend> Authorization </legend>

    <MatTextField @bind-Value="@oAuthEndpoint" Label="Server" FullWidth="true"></MatTextField>
    <MatTextField @bind-Value="@oAuthClient" Label="Client" FullWidth="true"></MatTextField>
    <MatTextField @bind-Value="@oAuthSecret" Label="Secret" FullWidth="true" Type="password" Icon="lock_outline" IconTrailing="true"></MatTextField>
</fieldset>

<MatButton Outlined="true" OnClick="@GetToken">Get Token</MatButton>
<MatButton Outlined="true" TrailingIcon="save" OnClick="@AddConnection">Add Connection</MatButton>
