@page "/connection/{Name}"
@inherits ConnectionBase
@inject AppState App
@inject CronusClient Cronus

<h1>Edit Connection</h1>

<fieldset>

    <MatTextField @bind-Value="@Name" Label="Name" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@CronusEndpoint" Label="Cronus Endpoint" FullWidth="true" Required="true"></MatTextField>
    <MatButton Outlined="true" OnClick="@GetTenants">Check</MatButton>
    <MatButton Outlined="true" TrailingIcon="save" OnClick="@(async () => await EditConnection())">Update Connection</MatButton>
    @if (IsEndpointValid)
    {
        <span class="badge rounded-pill bg-success">Correct Endpoint</span>
    }
    else
    {
        <span class="badge rounded-pill bg-danger">Correct Endpoint</span>
    }
</fieldset>
<hr class="solid">
<MatTable Items="@TenantAuths" class="mat-elevation-z5" PageSize="100" ShowPaging="false" UseSortHeaderRow="true">
    <MatTableHeader>
        <MatSortHeaderRow>
            <MatSortHeader>Tenant</MatSortHeader>
            <MatSortHeader>Authority Address</MatSortHeader>
            <MatSortHeader>Client</MatSortHeader>
            <MatSortHeader>Secret</MatSortHeader>
            <MatSortHeader>Scope</MatSortHeader>
            <MatSortHeader>Actions</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Tenant</td>
        <td>@context.ServerEndpoint</td>
        <td>@context.Client</td>
        <td>@context.Secret</td>
        <td>@context.Scope</td>
        <td>
            <MatButton Outlined="true" OnClick="@(async () => await @GetToken(context))">Get Token</MatButton>
            <MatButton Outlined="true" TrailingIcon="edit" Link="@($"/connection/{@Name}/{context.Tenant}")">Edit</MatButton>
            @if (AccessToken == string.Empty)
            {
                <span class="badge badge-light " style="display:none"></span>
            }
            else if (AccessToken != null)
            {
                <span class="badge rounded-pill bg-success">Correct Endpoint</span>
            }
            else
            {
                <span class="badge rounded-pill bg-danger">Invalid Endpoint</span>
            }
        </td>

    </MatTableRow>
</MatTable>




