@inherits ConnectionSelectorBase
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<div class="d-flex gap-4">
    <MudSelect T="Connection" @bind-Value="Connection" Label="Select Connection" SelectedValuesChanged="OnConnectionSelected" Variant="Variant.Outlined" MultiSelection="false" Style="@($"min-width: 234px")">
        @foreach (var connection in connections)
        {
            <MudSelectItem T="Connection" Value="@connection" Width="256px" Elevation="0">@connection.Name</MudSelectItem>
        }
    </MudSelect>

    <MudSelect T="oAuth" Label="Select Tenant" SelectedValuesChanged="OnTenantChanged" id="dropdownMenuButton" Variant="Variant.Outlined" Style="@($"min-width: 234px")">
        @foreach (var oAuth in oAuths)
        {
            <MudSelectItem T="oAuth" Value="oAuth" Width="256px" Elevation="0">@oAuth.Tenant</MudSelectItem>
        }
    </MudSelect>

</div>
