@page "/domain-aggregates"
@inject AppState App
@inject CronusClient Cronus
@inject IJSRuntime JSRuntime

    <h2 class="mat-h2">Aggregates</h2>

    <div class="mat-layout-grid">

        <MatTable Items="@Domain?.Aggregates" PageLabel="dfjgh" LoadInitialData="true" FilterByColumnName="Name" PageSize="9999" ShowPaging="false" Striped="false" AllowSelection="true" SelectionChanged="SelectionChangedEvent" class="mat-elevation-z5">
            <MatTableHeader>
                <th>Name</th>
                <th>Description</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Name</td>
                <td>@context.Name</td>
            </MatTableRow>
        </MatTable>

        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <h3 class="mat-h3">@Aggregate?.Name Commands</h3>
                <MatTable Items="@Aggregate?.Commands" LoadInitialData="true" FilterByColumnName="Name" PageSize="9999" ShowPaging="false" Striped="false" AllowSelection="true" class="mat-elevation-z5">
                    <MatTableHeader>
                        <th>Name</th>
                        <th>ID</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Name</td>
                        <td><i>@context.Id</i></td>
                    </MatTableRow>
                </MatTable>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <h3 class="mat-h3">@Aggregate?.Name Events</h3>
                <MatTable Items="@Aggregate?.Events" LoadInitialData="true" FilterByColumnName="Name" PageSize="9999" ShowPaging="false" Striped="false" AllowSelection="true" class="mat-elevation-z5">
                    <MatTableHeader>
                        <th>Name</th>
                        <th>ID</th>
                    </MatTableHeader>
                    <MatTableRow>
                        <td>@context.Name</td>
                        <td><i>@context.Id</i></td>
                    </MatTableRow>
                </MatTable>
            </div>
        </div>
    </div>

@code {

    DomainDto Domain { get; set; }

    DomainAggregateDto Aggregate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Domain = await Cronus.GetDomainAsync(@App.Connection);
    }

    public void SelectionChangedEvent(object row)
    {
        if (row != null)
        {
            Aggregate = (DomainAggregateDto)row;
        }

        this.StateHasChanged();
    }
}
