@page "/eventstore"
@using Elders.Cronus.Dashboard.Extensions
@using Elders.Cronus.Dashboard.Services;
@inject AppState App
@inject CronusClient Cronus
@inject IJSRuntime JSRuntime
@inject ILogger<EventStore> Log

<MudTable OnRowClick="RowClickEvent" T="RawEventDto" ServerData="@(new Func<TableState, Task<TableData<RawEventDto>>>(ServerReload))"
          Dense="true" Hover="true" @ref="table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Aggregate Events</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>SearchAggregateEvents(s))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTd>Timestamp</MudTd>
        <MudTd>Rev</MudTd>
        <MudTd>Pos</MudTd>
        <MudTd>Events</MudTd>
        <MudTd></MudTd>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Timestamp">@context.Timestamp.ToIso8601()</MudTd>
        <MudTd DataLabel="Rev">@context.EventRevision</MudTd>
        <MudTd DataLabel="Pos">@context.EventPosition</MudTd>
        <MudTd DataLabel="Events">
            @if (@context.IsEntityEvent)
            {
                <MudListItem style="color:orange;" Text="@context.EventName" Icon="@Icons.Material.Filled.Event" />
            }
            else if (@context.IsPublicEvent)
            {
                <MudListItem style="color:royalblue;" Text="@context.EventName" Icon="@Icons.Material.Filled.Public" />
            }
            else
            {
                <MudListItem style="color:forestgreen;" Text="@context.EventName" Icon="@Icons.Material.Filled.Event" />
            }
        </MudTd>
        <MudTd>
            <MudListItem><RepublishEventNew AggregateId="@AggregateId" Event="@context"></RepublishEventNew></MudListItem>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" HorizontalAlignment="HorizontalAlignment.Left">
        </MudTablePager>
    </PagerContent>
</MudTable>

    <MudPopover AnchorOrigin = "Origin.CenterLeft" Open="@_isOpen" Class="px-5 pt-5">
        <MudPaper Outlined=true Style="max-height: 80vh;overflow: auto;">
            <MudText Typo="Typo.caption">@SelectedEvent.Timestamp.ToIso8601()</MudText>
            <MudText Typo="Typo.h6">@SelectedEvent.EventName - @SelectedEvent.Id</MudText>
            <div class="json-box">
                <pre Style="@($"color:{Colors.LightGreen.Accent3};")">@_jsonData</pre>
            </div>
        </MudPaper>
        <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
    </MudPopover>

@code {
    public RawEventTableManager RawEventTableManager = new RawEventTableManager();

    string AggregateId { get; set; }
    RawEventDto SelectedEvent { get; set; }
    IEnumerable<string> AggregateRootIdSamples { get; set; }
    private MudTable<RawEventDto> table;
    public bool _isOpen;
    private string _jsonData;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }

    private async Task<TableData<RawEventDto>> ServerReload(TableState state)
    {
        var func = (int take) => Cronus.GetAggregateEventsWithPaging(App.Connection, AggregateId, RawEventTableManager.Token, take);
        return await RawEventTableManager.ServerReload(state, AggregateId, func);
    }

    private void SearchAggregateEvents(string id)
    {
        AggregateId = id;
        RawEventTableManager = new RawEventTableManager();

        StateHasChanged();
        table.ReloadServerData();
    }

    private async Task RowClickEvent(TableRowClickEventArgs<RawEventDto> tableRowClickEventArgs)
    {
        SelectedEvent = tableRowClickEventArgs.Item;
        _jsonData = await FormatJsonAsync();
        _isOpen = true;
    }


    protected override async Task OnInitializedAsync()
    {
        await GetAggregateRootIdSamplesAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    async Task GetAggregateRootIdSamplesAsync()
    {
        var samples = await Cronus.GetAggregateRootIdSamples(App.Connection);
        AggregateRootIdSamples = samples;
    }

    public async Task<string> FormatJsonAsync()
    {
        var result = await JSRuntime.InvokeAsync<string>("JSON.stringify", SelectedEvent.EventData, null, 4);

        return result;
    }

    private async Task<IEnumerable<string>> FilterSampleAsync(string value)
    {
        await Task.Delay(5);

        if (string.IsNullOrEmpty(value))
            return new string[0];
        return AggregateRootIdSamples.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}
