@inherits LayoutComponentBase

<div>
    <MudThemeProvider IsDarkMode="true">

    </MudThemeProvider>
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudAppBar Elevation="1" Style="@($"padding: 10px")">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Align="MatAppBarSectionAlign.Start" OnClick="@((e) => DrawerToggle())" />
            <MudText Typo="Typo.h5" Class="ml-3" Color="Color.Success">Cronus Dashboard &nbsp;</MudText>
            <ConnectionSelector />
            <MudSpacer />
            <MudIconButton Link="https://github.com/Elders/Cronus" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Align="MatAppBarSectionAlign.End" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Style="@($"top: 86px")">
            @*NavMenu*@
            <MudNavMenu Color="Color.Success">
                <MudNavLink Href="connections" Icon="@Icons.Filled.Bolt">Connections</MudNavLink>
                <MudDivider />
                <MudNavGroup Icon="@Icons.Filled.WbSunny" Title="Domain" Expanded="false">
                    <MudNavLink Href="/domain-aggregates">Aggregates</MudNavLink>
                    <MudNavLink Href="/domain-gateways">Gateways</MudNavLink>
                    <MudNavLink Href="/domain-ports">Ports</MudNavLink>
                    <MudNavLink Href="/domain-projections">Projections</MudNavLink>
                    <MudNavLink Href="/domain-sagas">Sagas</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="eventstore" Icon="@Icons.Filled.Book">Event Store</MudNavLink>
                <MudNavLink Href="indices" Icon="@Icons.Filled.Rowing">Indices</MudNavLink>
                <MudNavLink Href="projections" Icon="@Icons.Filled.Dashboard">Projections</MudNavLink>
                <MudNavLink Href="replay-public" Icon="@Icons.Filled.Publish">Replay Public Event</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <MudMainContent Style="@($"top: 86px")">
            @*<MudImage Fluid="true" Src="https://raw.githubusercontent.com/Elders/logo/master/cronus/black.png" Alt="Swedish Farm House" Class="rounded-lg" />*@
            <div class="ml-5 mt-10 mr-5">
                @Body
            </div>
        </MudMainContent>
    </MudLayout>
</div>



@code {
    bool _drawerOpen = true;


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
